
@{
    ViewBag.Title = "New";
}

<h2>New</h2>
<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movie"  type="text" value="" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul id="movies" class="list-group"></ul>
        </div>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>



@section scripts
{
    <script>
        $(document).ready(function () {
            // This is view model for the rental form, later we use this to post to the server
            var vm = {
                movieIds: []
            };

            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?queries=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                    minLength: 3,
                    highlight: true
                },
                {
                    limit: 50,
                    name: 'customers',
                    display: 'name',
                    source: customers
                }).on("typeahead:select",
                // e: event, customer: the selected customer
                function (e, customer) {
                // logic for the select event of typeahead when we select a customer name
                vm.customerId = customer.id;
                    });

            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/movies?queries=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#movie').typeahead({
                    minLength: 3,
                    highlight: true
                },
                {
                    limit: 50,
                    name: 'movies',
                    display: 'name',
                    source: movies
                }).on("typeahead:select",
                function (e, movie) {
                    $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");

                    $("#movie").typeahead("val", "");

                    vm.movieIds.push(movie.id);
                });

            // e: is the submit event
            $('#newRental').submit(function (e) {
                // we use AJAX, so we need to add this line to prevent submit as a traditional HTML form
                e.preventDefault();

                $.ajax({
                    url: "/api/newRentals",
                    method: "post",
                    data: vm
                })
                .done(function() {
                    toastr.success("Rentals successfully recorded.");
                })
                .fail(function() {
                    toastr.error("Something unexpected happened.");
                });
            });

        });
    </script>
}
